.todo {
  $color-shadow: #777;
  max-width: 100px;
  max-height: 100px;
  background: white;
  transition: all 0.3s ease-in-out;
  position: relative;
  &:before,
  &:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 1em;
    width: 50%;
    top: 80%;
    box-shadow: 0 1em 0.5em $color-shadow;
    transition: all 0.3s ease-in-out;
    opacity: 1;
  }
  &:before {
    transform: rotate(-3deg);
    left: 0.5em;
  }
  &:after {
    transform: rotate(3deg);
    right: 0.5em;
  }
}
.todo:hover {
  transform: scale(1.2);
  &:before,
  &:after {
    opacity: 0;
  }
}
