.activity {
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: last baseline;
  position: relative;
  width: 100%;
  height: 100px;
  margin-bottom: 21px;
  .icon {
    background: #29b6f6;
    padding: 5px 8px;
    border-radius: 40px;
    border: 1px dashed #fff;
    margin-right: 10px;
  }
  .icon::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 50px;
    background: #ccc;
    bottom: 0%;
    left: 6%;
    border-radius: 160px;
  }
  .activity-section {
    flex-wrap: wrap;
    flex-direction: column;
    .date {
      font-size: 11px;
      color: #ccc;
      opacity: 0.5;
    }
    .details {
      font-size: 16px;
      color: #ccc;
    }
    p,
    h5 {
      margin: 0;
      padding: 0;
      max-width: 200px;
    }
  }
}
